#banner{
    width:100%;
    height:200px;
    background-color: black;
    text-align: center
}
#my_blog{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    padding-top:50px;
}
header{
    margin-top:-5%;
}
